@import "~@fortawesome/fontawesome-free/css/all.min.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 500px;
  width: 100%;
  margin: auto;
  color: #ffff;
  text-align: center;
  font-family: Arial, sans-serif;
}

.main{
  position: relative;
}

.header{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #9763f6;
  padding-left: 20px;
  box-shadow: 0 0 10px #666;
}
.inner-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
}

.header .inner-header h1{
  font-size: 25px;
}

.input-section {
  width: 100%;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.input-inner-section {
  display: flex;
  align-items: center;
  max-width: 300px;
  width: 100%;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.list-data{
  width: 100%;
  margin-top: 35px;
  background-color: #ffff;
  box-shadow: 0 0 10px #666;
  position: relative;
}

ul {
  width: 80%;
  min-height: 100px;
  margin: auto;
  list-style-type: none;
  padding: 25px 0;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  margin: 10px 0;
  padding: 10px;
}

.todo-item .todo-content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
}

.todo-text.checked {
  text-decoration: line-through;
  color: #999;
}
.task-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 170px;
  height: 50px;
  background: #9763f6;
  border-radius: 50px;
  text-decoration: none;
  color: #ffff;
  font-size: 15px;
  font-weight: 900;
}
.plusIcon{
  margin-right: 10px;
}

.deleteIcon, .editIcon{
  cursor: pointer;
}


.input-section input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  /*margin-bottom: 10px;*/
  box-sizing: border-box;
}

.input-section button {
  background-color: #9763f6;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-section button:hover {
  background-color: #7d4cde;
}

.task-button:hover {
  background-color: #7d4cde;
}

.plusIcon {
  margin-right: 8px;
}

.todo-item {
    margin: 0;
    border-radius: 50%;
    /*display: inline-block;*/
    overflow: hidden;
    position: relative;
}

